.DS_Store
.gradle
build/
out/
libs/
cert/*

src/main/grpc/
src/main/java/soushin/sandbox/protobuf/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
logs/

!.gitkeep
